body {
  margin: 0;
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom right,
    pink 10%,
    white 30%,
    pink 40%
  );
  background-repeat: no-repeat;
  background-size: 100% 200%;
}

.logo {
  width: 7rem;
  position: absolute;
  top: 2rem;
  margin-left: 5%;
}
.container {
  width: 96%;
  padding: 0 2% 0 2%;
  display: flex;
  flex-direction: row;
  margin: 4rem auto;
  justify-content: space-evenly;
}
.content1 {
  width: fit-content;
  align-self: center;
}
.circle {
  width: 1.7rem;
  height: 1.7rem;
  border: solid orange 3px;
  border-radius: 50%;
}
.brand {
  position: absolute;
  margin-top: -2rem;
  left: 2.2rem;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}
.intro {
  letter-spacing: 0.9rem;
  font-size: 4rem;
  line-height: 3.5rem;
  font-family: Courier;
  font-weight: 500;
  margin-top: 6.5rem;
}
.text {
  font-size: 1rem;
  letter-spacing: 0.8px;
  font-family: cursive;
  word-spacing: 0.5px;
  margin-top: -2.4rem;
  width: 470px;
}
input {
  width: 20rem;
  height: 2rem;
  padding-left: 2rem;
  border-radius: 1.2rem;
}
.mg-t {
  margin-top: 2rem;
}
.bd {
  border: solid grey 1px;
}
button {
  width: 4rem;
  height: 2.25rem;
  border-radius: 1.3rem;
  position: absolute;
  margin-left: -3rem;
  background-color: pink;
}
.content2 {
  width: 20rem;
  height: auto;
  align-self: center;
}
.image {
  width: 15rem;
  height: auto;
}
@media screen and (max-width: 700px) {
  main {
    margin: 0;
  }
  .logo {
    top: 1rem;
    left: 0.5rem;
  }
  .container {
    flex-direction: column-reverse;

    margin-top: 4rem;
  }
  .content1 {
    width: 100%;
    height: 25rem;
    text-align: center;
  }
  .intro {
    margin-top: 2.2rem;
  }
  .mg-l {
    margin-left: 0;
  }
  .content2 {
    width: 100%;
    text-align: center;
  }
  .image {
    width: 11rem;
  }
  .text {
    margin: auto;
  }
  input {
    width: 17rem !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 830px) {
  .text {
    width: 90%;
  }
  .logo {
    margin-left: 10px;
  }
}
@media screen and (max-width: 490px) {
  .text {
    width: 95%;
  }
}
